In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Merging Data

In [2]:
df_2018 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2018_Asansol_1Hr.csv")
df_2019 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2019_Asansol_1Hr.csv")
df_2020 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2020_Asansol_1Hr.csv")
df_2021 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2021_Asansol_1Hr.csv")
df_2022 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2022_Asansol_1Hr.csv")
df_2023 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2023_Asansol_1Hr.csv")
df_2024 = pd.read_csv("data/Pollutant Data/City_wise_raw_data_1Hr_2024_Asansol_1Hr.csv")
df_2025 = pd.read_csv("data\Pollutant Data\City_wise_raw_data_1Hr_2025_Asansol_1Hr.csv")

<>:8: SyntaxWarning: invalid escape sequence '\P'
<>:8: SyntaxWarning: invalid escape sequence '\P'
C:\Users\91741\AppData\Local\Temp\ipykernel_15992\2047840159.py:8: SyntaxWarning: invalid escape sequence '\P'
  df_2025 = pd.read_csv("data\Pollutant Data\City_wise_raw_data_1Hr_2025_Asansol_1Hr.csv")

2025 dataset is in slightly different format

<b>Null Value Percentage of each year's dataset</b>
- 2018: 23%
- 2019 : 6%
- 2020 : 17%
- 2021 : 11%
- 2022 : 5%
- 2023 : 9%
- 2024 : 0.8%

According to cpcb data below 30% null values can be used for forecasting

In [3]:
df_concat = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024], ignore_index=True)

In [4]:
print(df_concat.columns)

Index(['Timestamp', 'PM2.5 (µg/m³)', 'PM10 (µg/m³)', 'NO (µg/m³)',
       'NO2 (µg/m³)', 'NOx (ppb)', 'NH3 (µg/m³)', 'SO2 (µg/m³)', 'CO (mg/m³)',
       'Ozone (µg/m³)', 'Benzene (µg/m³)', 'Toluene (µg/m³)', 'Xylene (µg/m³)',
       'O Xylene (µg/m³)', 'Eth-Benzene (µg/m³)', 'MP-Xylene (µg/m³)',
       'AT (°C)', 'RH (%)', 'WS (m/s)', 'WD (deg)', 'RF (mm)', 'TOT-RF (mm)',
       'SR (W/mt2)', 'BP (mmHg)', 'VWS (m/s)'],
      dtype='object')

<b>We will be using 4 pollutants : PM2.5, PM10, NOx, SO2</b>

In [5]:
df_merged = df_concat[["Timestamp", "PM2.5 (µg/m³)", "PM10 (µg/m³)", "NOx (ppb)", "SO2 (µg/m³)"]]
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61368 entries, 0 to 61367
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Timestamp      61368 non-null  object
 1   PM2.5 (µg/m³)  55570 non-null  float64
 2   PM10 (µg/m³)   55892 non-null  float64
 3   NOx (ppb)      54987 non-null  float64
 4   SO2 (µg/m³)    55725 non-null  float64
dtypes: float64(4), object(1)
memory usage: 2.3+ MB

In [6]:
df_merged.head(2)

             Timestamp  PM2.5 (µg/m³)  PM10 (µg/m³)  NOx (ppb)  SO2 (µg/m³)
0  2018-01-01 00:00:00            NaN           NaN        NaN          NaN
1  2018-01-01 01:00:00            NaN           NaN        NaN          NaN

In [7]:
df_merged.tail(2)

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NOx (ppb),SO2 (µg/m³)
61366,2024-12-31 22:00:00,61.91,128.83,14.76,7.04
61367,2024-12-31 23:00:00,60.65,118.69,14.97,6.62

In [8]:
df_2025.head(2)

          From Date           To Date  PM2.5    PM10    NOx    SO2
0  01-01-2025 00:00  01-01-2025 01:00  71.80  119.16  19.39  12.55
1  01-01-2025 01:00  01-01-2025 02:00  69.47  112.67  18.54  12.11

<b>Unit of Pollutants</b>  

NOx : ppb - parts per billion  
CO : mg/m³ - milligram per cubic meter  
Remaining 6 pollutants : µg/m³ - microgram per cubic meter  

1 mg = 1000 µg

# Preprocessing

In [9]:
df = df_merged.copy()

In [10]:
#df = df.rename(columns = {"PM2.5 (µg/m³)":"PM2.5", "PM10 (µg/m³)":"PM10", "NO (µg/m³)":"NO", "NO2 (µg/m³)":"NO2", 
# "NOx (ppb)":"NOx", "NH3 (µg/m³)":"NH3", "SO2 (µg/m³)":"SO2", "CO (mg/m³)":"CO"})

df = df.rename(columns = {"PM2.5 (µg/m³)":"PM2.5", "PM10 (µg/m³)":"PM10", "NOx (ppb)":"NOx", "SO2 (µg/m³)":"SO2"})
df_2025 = df_2025.rename(columns={"From Date" : "Timestamp"}).drop(["To Date"], axis=1)

df["Timestamp"] = pd.to_datetime(df["Timestamp"], errors="coerce")
df_2025["Timestamp"] = pd.to_datetime(df_2025["Timestamp"], errors="coerce")

In [11]:
df = pd.concat([df, df_2025], ignore_index=True)
df.to_csv("Asansol Merged.csv", index=False)

df = df.set_index("Timestamp")

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 65929 entries, 2018-01-01 00:00:00 to 2025-10-07 00:00:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   60040 non-null  float64
 1   PM10    60370 non-null  float64
 2   NOx     59424 non-null  float64
 3   SO2     60241 non-null  float64
dtypes: float64(4)
memory usage: 2.5 MB

In [12]:
print(df.duplicated().sum())
print(df.isnull().sum())

4595
PM2.5    5889
PM10     5559
NOx      6505
SO2      5688
dtype: int64

All 4550 duplicates are rows with all columns as null values

In [13]:
df.head()

                     PM2.5  PM10  NOx  SO2
Timestamp
2018-01-01 00:00:00    NaN   NaN  NaN  NaN
2018-01-01 01:00:00    NaN   NaN  NaN  NaN
2018-01-01 02:00:00    NaN   NaN  NaN  NaN
2018-01-01 03:00:00    NaN   NaN  NaN  NaN
2018-01-01 04:00:00    NaN   NaN  NaN  NaN

In [14]:
df.tail(2)

                     PM2.5   PM10    NOx    SO2
Timestamp
2025-09-07 23:00:00  27.57  54.24  24.53  10.09
2025-10-07 00:00:00  26.97  56.92  24.92   8.39

### Remove large blocks of Null Values

In [15]:
df = df[df.index >= "2018-02-01 10:00:00"]   # Removed entire january month due to null values

In [16]:
df.isnull().all(axis=1).sum()

3826

In [17]:
df["row_null"] = df.isnull().all(axis=1).astype(int)

In [18]:
df.head(2)

                      PM2.5    PM10    NOx    SO2  row_null
Timestamp
2018-02-01 10:00:00     NaN     NaN  24.72    NaN         0
2018-02-01 11:00:00  131.02  238.25  31.02  30.63         0

In [19]:
df.shape

(62559, 5)

In [20]:
'''block_center = (df['row_null']
                .rolling(window=15, center=True)
                .sum() == 15)


block_full = np.zeros(len(df), dtype=bool)

for idx in df[block_center].index:
    i = df.index.get_loc(idx)
    block_full[max(0, i-7):min(len(df), i+8)] = True

df['block_null'] = block_full.astype(int)

df.to_csv("C:/Users/91741/Desktop/df_block.csv")'''

'block_center = (df[\'row_null\']\n                .rolling(window=15, center=True)\n                .sum() == 15)\n\n\nblock_full = np.zeros(len(df), dtype=bool)\n\nfor idx in df[block_center].index:\n    i = df.index.get_loc(idx)\n    block_full[max(0, i-7):min(len(df), i+8)] = True\n\ndf[\'block_null\'] = block_full.astype(int)\n\ndf.to_csv("C:/Users/91741/Desktop/df_block.csv")'

In [21]:
df = df[df["row_null"] != 1]
df = df.drop(["row_null"], axis=1)

In [22]:
df.isnull().all(axis=1).sum()

0

In [23]:
df.isnull().sum()

PM2.5    1261
PM10      932
NOx      1852
SO2      1084
dtype: int64

In [24]:
# Step 1: Interpolate missing values (time-aware, continuous)
df.interpolate(method='time', limit=12, inplace=True)

# Step 2: Fill short edge gaps if any remain
df.fillna(method='ffill', limit=3, inplace=True)
df.fillna(method='bfill', limit=3, inplace=True)

C:\Users\91741\AppData\Local\Temp\ipykernel_15992\1354377464.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', limit=3, inplace=True)
C:\Users\91741\AppData\Local\Temp\ipykernel_15992\1354377464.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', limit=3, inplace=True)

In [25]:
df.dropna(inplace=True)

In [26]:
df.isnull().sum()

PM2.5    0
PM10     0
NOx      0
SO2      0
dtype: int64

In [27]:
df.to_csv("data/Pollutant Data/Final Asansol Data.csv")

# Satellite Images

In [28]:
# ! pip install earthengine-api geemap rasterio

In [29]:
import ee
import geemap

from datetime import datetime, timedelta

import os
import contextlib
import sys

<b>I have already authenticated my google account so it is in comment (below code 1st line)</b>  
<b>Those who didnt cant download data from Google Earth Engine, you must uncomment 1st line and run</b>  
<b>Or just use from my data/Asansol AOD folder</b>

In [30]:
#ee.Authenticate()
ee.Initialize(project="ee-kvrashwin")

# Define bounding box for Asansol
asansol = ee.Geometry.Rectangle([86.82, 23.58, 87.05, 23.80])

# Load MCD19A2 (MODIS MAIAC AOD granules)
aod_dataset = ee.ImageCollection("MODIS/061/MCD19A2_GRANULES") \
    .filterDate('2018-01-01', '2025-05-31') \
    .filterBounds(asansol) \
    .select('Optical_Depth_047')

In [31]:
# Create weekly composites
def make_weekly_composite(start_ms):
    start = ee.Date(start_ms)
    end = start.advance(7, 'day')
    weekly = aod_dataset.filterDate(start, end).mean().clip(asansol)
    return weekly.set('system:time_start', start)

# Generate list of weekly dates
start_date = ee.Date('2018-01-01')
end_date = ee.Date('2025-05-31')
n_weeks = end_date.difference(start_date, 'day').divide(7).floor().toInt()

# Make list of start dates for each week
weeks = ee.List.sequence(0, n_weeks.subtract(1)).map(
    lambda w: start_date.advance(ee.Number(w).multiply(7), 'day').millis()
)

# Map weekly composites
weekly_aod = ee.ImageCollection(weeks.map(make_weekly_composite))

<b>Since I have already downloaded the data i have commented this block</b>  
<b>If you have not downloaded AOD-satellite images below block is needed to download each image</b>

In [32]:
'''
with open(os.devnull, 'w') as fnull, contextlib.redirect_stdout(fnull):

    geemap.ee_export_image_collection(
        ee_object=weekly_aod,
        out_dir="data/Asansol AOD",
        scale=1000,
        region=asansol,
        format='ZIPPED_GEO_TIFF'
    )
'''

'\nwith open(os.devnull, \'w\') as fnull, contextlib.redirect_stdout(fnull):\n\n    geemap.ee_export_image_collection(\n        ee_object=weekly_aod,\n        out_dir="data/Asansol AOD",\n        scale=1000,\n        region=asansol,\n        format=\'ZIPPED_GEO_TIFF\'\n    )\n'

# Meteorological Data

In [33]:
# %pip install earthengine-api
! earthengine authenticate

Authenticate: Credentials already exist.  Use --force to refresh.

In [34]:
ee.Initialize(project = "ee-kvrashwin")

# Define Asansol bounding box
asansol = ee.Geometry.Rectangle([86.9, 23.6, 87.05, 23.75])

# ERA5 variables you want
vars = [
    'temperature_2m',
    'dewpoint_temperature_2m',
    'u_component_of_wind_10m',
    'v_component_of_wind_10m',
    'surface_pressure',
    'total_precipitation'
]

def export_yearly(year):
    start = ee.Date.fromYMD(year, 1, 1)
    end = start.advance(1, 'year')

    era5 = (
        ee.ImageCollection("ECMWF/ERA5_LAND/HOURLY")
        .filterDate(start, end)
        .filterBounds(asansol)
        .select(vars)
    )

    def reduce_fn(img):
        reduced = img.reduceRegion(
            reducer=ee.Reducer.mean(),
            geometry=asansol,
            scale=1000,
            maxPixels=1e13
        )
        return ee.Feature(None, reduced).set('datetime', img.date().format('YYYY-MM-dd HH:mm:ss'))

    reduced = era5.map(reduce_fn)
    fc = ee.FeatureCollection(reduced)

    task = ee.batch.Export.table.toDrive(
        collection=fc,
        description=f'ERA5_Asansol_{year}',
        fileFormat='CSV'
    )
    task.start()
    print(f"Export task started for {year}")

for yr in range(2018, 2026):
    export_yearly(yr)

Export task started for 2018
Export task started for 2019
Export task started for 2020
Export task started for 2021
Export task started for 2022
Export task started for 2023
Export task started for 2024
Export task started for 2025

In [35]:
met_2018 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2018.csv")
met_2019 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2019.csv")
met_2020 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2020.csv")
met_2021 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2021.csv")
met_2022 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2022.csv")
met_2023 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2023.csv")
met_2024 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2024.csv")
met_2025 = pd.read_csv("data/Meteorological Data/ERA5_Asansol_2025.csv")

met_df = pd.concat([met_2018, met_2019, met_2020, met_2021, met_2022, met_2023, met_2024, met_2025], ignore_index=True)

In [36]:
met_df.head(2)

,system:index,datetime,dewpoint_temperature_2m,surface_pressure,temperature_2m,total_precipitation,u_component_of_wind_10m,v_component_of_wind_10m,.geo
0,20180101T00,2018-01-01 00:00:00,284.936512,99896.469118,286.210559,0.0,1.184674,-2.153044,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,20180101T01,2018-01-01 01:00:00,284.617116,99932.968385,285.871660,0.0,1.231400,-2.014057,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [37]:
met_df.drop(["system:index", ".geo"], axis=1, inplace=True)

In [38]:
met_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65856 entries, 0 to 65855
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   datetime                 65856 non-null  object
 1   dewpoint_temperature_2m  65856 non-null  float64
 2   surface_pressure         65856 non-null  float64
 3   temperature_2m           65856 non-null  float64
 4   total_precipitation      65856 non-null  float64
 5   u_component_of_wind_10m  65856 non-null  float64
 6   v_component_of_wind_10m  65856 non-null  float64
dtypes: float64(6), object(1)
memory usage: 3.5+ MB

In [39]:
print(met_df["dewpoint_temperature_2m"].min(), met_df["dewpoint_temperature_2m"].max())
print(met_df["surface_pressure"].min(), met_df["surface_pressure"].max())
print(met_df["temperature_2m"].min(), met_df["temperature_2m"].max())
print(met_df["total_precipitation"].min(), met_df["total_precipitation"].max())
print(met_df["u_component_of_wind_10m"].min(), met_df["u_component_of_wind_10m"].max())
print(met_df["v_component_of_wind_10m"].min(), met_df["v_component_of_wind_10m"].max())

272.6005818402866 301.49645749550183
97561.33011579818 100944.3042604272
279.657177599052 317.35669046871
0.0 0.0970591791580559
-8.794175976004999 6.391561201724277
-9.436180294575816 6.111418887691081